{% extends "base.html" %}
{% block title %}Home: {% endblock%}
{% block description %}{% endblock%}

{% block style %}

div#highscores
{
	position:static;
	margin-left:425px;
	margin-top:-75px;
	margin-bottom:40px;
	/* position:relative; top:-85px; left:350px; */
}
div#highscores h4
{
	color:white;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
div#highscores dl dt
{
	font-weight:bold;
	color:#3779a8;
}
div#highscores dl dt, div#highscores dl dd
{
	font-size:11px;
	padding:1px 0;
	
}
{% endblock style %}
{% block banner %}
{% load accuracy %}
    <a href="/"><h1 class="img" id="weather-logo">Denver, Colorado's Weather-O-Meter</h1></a>
	<div id="highscores">
	<h4>Past Week</h4>
	{% accuracy_list 'week' as list %}
	<dl>
	{% for item in list|slice:":1" %}
		<dt>Most Accurate:</dt>
    		<dd><a href="{{ item.forecaster.get_absolute_url }}">{{ item.forecaster }}</a></dd>
	{% endfor %}
    {% for item in list reversed %}
    {% if forloop.first %}
		<dt>Least Accurate:</dt>
            <dd><a href="{{ item.forecaster.get_absolute_url }}">{{ item.forecaster }}</a></dd>
	{% endif %}
	{% endfor %}
	</dl>
	</div>
	{% endblock banner %}
{% block main %}
{% load temperature forecastitem %}
	{% temperature_item 'today' as item %}
        <p>
            Welcome to Denver's Weather-O-Meter &mdash; gauging the accuracy of the city's weather forecasts.<br>
            <a href="http://www.denverpost.com/weather">Get the day's full weather information for Denver Metro and Colorado here</a>.
        </p>
        <p>
            <a href="/forecaster/">Get more detail on the forecasters' accuracy here</a>.
        </p>
        {% if item %}
        <p>
            Weather stats last updated: Today, {{ item.date_added|date:"P" }}
        </p>
        <h2 class="img" id="results_yesterday">Yesterday's Results</h2>
        <div class="home">
        <h4>Actual temperatures: {{ item }}</h4>
        {% forecast_for_day 1 as item_list %}
        
		{% else %}
        {% comment %}
        <p>
            <strong style="font-weight:bold;">Weather stats last updated Friday. They will be updated again Monday morning.</strong>         </p>
        {% endcomment %}
        <h2 class="img" id="results_yesterday_daybefore">Day Before Yesterday's Results</h2>
        <div class="home">
        {% forecast_for_day 2 as item_list %}
        {% endif %}


        {% regroup item_list|dictsort:"type" by type as type_list %}
        {% for type in type_list|dictsortreversed:"grouper" %}
        <div class="threecol">
        {% ifchanged %}<h3>Forecast {% ifequal type.grouper 1 %}Highs{% else %}Lows{% endifequal %}</h3>{% endifchanged %}
            <dl>
            {% for item in type.list|dictsort:"differential_abs" %}
                <dt{% ifequal item.differential 0 %} class="gold"{% endifequal %}><a href="{{ item.items.forecaster.get_absolute_url }}">{% firstof item.items.forecaster.nickname item.items.forecaster.user.first_name %}</a>:</dt>
                <dd>{{ item.temperature }}&#176; <span>&Delta;</span>{{ item.differential }}</dd>
            {% endfor %}
            </dl>
        </div>
        {% endfor %}
        

        <div class="threecol">
        <h3>Total Forecast Accuracy</h3>
        <ol>
        {% for item in object_list %}
        <li><a href="{{ item.forecaster.get_absolute_url }}">{{ item.forecaster }}</a>: <span>&Delta;</span>{{ item.avg|multiply:"2"|floatformat }}&#176;{% if forloop.first %}{% endif %}</li>
        {% endfor %}
        </ol>
        </div>
        <h4>&Delta; means "degrees off of the actual temperature"</h4>
		</div>




    <div class="col">
        <h2 class="img" id="forecasts_today">Today's Denver Weather forecasts</h2>
        {% forecast_for_day 0 as item_list %}
        {{ item_list.en }}
        {% regroup item_list|dictsort:"type" by type as type_list %}
        {% for type in type_list|dictsortreversed:"grouper" %}
        <div class="subcol">
        {% ifchanged %}<h3>{% ifequal type.grouper 1 %}Today's Highs{% else %}Tonight's Lows{% endifequal %}</h3>{% endifchanged %}
            <dl>
            {% for item in type.list|dictsort:"temperature" %}
                <dt><a href="{{ item.items.forecaster.get_absolute_url }}">{% firstof item.items.forecaster.nickname item.items.forecaster.user.first_name %}</a>:</dt>
                <dd>{{ item.temperature }}&#176;</dd>
            {% endfor %}
            </dl>
        </div>
        {% endfor %}
    </div>
    <div class="col">
        <h2 class="img" id="forecasts_tomorrow">Tomorrow's Denver Weather forecasts</h2>
        {% forecast_for_day -1 as item_list %}
        {% regroup item_list|dictsort:"type" by type as type_list %}
        {% for type in type_list|dictsortreversed:"grouper" %}
        <div class="subcol">
        {% ifchanged %}<h3>{% ifequal type.grouper 1 %}Tomorrow's Highs{% else %}Tomorrow night's Lows{% endifequal %}</h3>{% endifchanged %}
            <dl>
            {% for item in type.list|dictsort:"temperature" %}
                <dt><a href="{{ item.items.forecaster.get_absolute_url }}">{% firstof item.items.forecaster.nickname item.items.forecaster.user.first_name %}</a>:</dt>
                <dd>{{ item.temperature }}&#176;</dd>
            {% endfor %}
            </dl>
        </div>
        {% endfor %}
    </div>
{% endblock main %}



        {% comment %}
        {% for item in item_list|dictsortreversed:"differential" %}
        <dt>{{ item.items.forecaster }}</dt>
        <dd>{{ item.differential }} ( {{ item.date }} )</dd>
        {% endfor %}
        



    {% for item in object_list|dictsort:"forecast_set" %}
    <h3><a href="{{ item.get_absolute_url }}" title="{{ item }}">{{ item.user.first_name }}</a></h3>
    <dl>
        <dt>High:</dt>
        <dd>{{ item.get_forecastitem_today.0 }}</dd>
        <dt>Low:</dt>
        <dd>{{ item.get_forecastitem_today.1 }}</dd>
    </dl>
    {% endfor %}
        {% endcomment %}
