{% extends "forecaster/base.html" %}
{% block title_long %}{% block title %}Index of Denver Weather Forecasters: {% endblock title %}{% endblock title_long %}
{% block description %}{% endblock %}
{% block head %}{% endblock head %}
{% block style %}{% endblock style %}

{% block main %}
{% load accuracy %}
    <p id="breadcrumb"><a href="/">Home</a></p>
    <h1>Weather Forecasters</h1>

    <h2 class="img" id="accuracy">Accuracy</h2>
    <h4>&Delta; means "degrees off of the actual temperature"</h4>
    <div class="col">
    <h3>Past Week</h3>
    {% accuracy_list 'week' as list %}
    <dl>
    {% for item in list %}
        <dt><a href="{{ item.forecaster.get_absolute_url }}">{{ item.forecaster }}</a></dt>
            <dd><span>&Delta;</span>{{ item.avg|floatformat:2 }}&#176;</dd>
    {% endfor %}
    </dl>
    <h3>Past Month</h3>
    {% accuracy_list 'month' as list %}
    <dl>
    {% for item in list %}
        <dt><a href="{{ item.forecaster.get_absolute_url }}">{{ item.forecaster }}</a></dt>
            <dd><span>&Delta;</span>{{ item.avg|floatformat:2 }}&#176;</dd>
    {% endfor %}
    </dl>
    <h3>All-Time</h3>
    {% accuracy_list 'all' as list %}
    <dl>
    {% for item in list %}
        <dt><a href="{{ item.forecaster.get_absolute_url }}">{{ item.forecaster }}</a></dt>
            <dd><span>&Delta;</span>{{ item.avg|floatformat:2 }}&#176;</dd>
    {% endfor %}
    </dl>


    </div>
    <div class="col">
    <h3>Per-Forecaster</h3>
    {% for item in object_list %}
    <h3><a href="{{ item.get_absolute_url }}" title="{{ item }}">{{ item.user.first_name }}</a></h3>
    {% accuracy_for_forecaster item 'all' as item %}
    <dl>
        <dt>Forecasts Correct:</dt>
            <dd>{{ item.correct}} (out of {{ item.count}})</dd>
        <dt>Average differential:</dt>
            <dd><span>&Delta;</span>{{ item.avg|floatformat }}&#176;</dd>
    </dl>
    {% endfor %}
    </div>


    <div class="col" style="display:none;">
    <h2>Today's Denver Weather forecasts</h2>
    {% for item in object_list %}
    <h3><a href="{{ item.weather_url }}" title="{{ item }}">{{ item.user.first_name }}</a></h3>
    {% endfor %}
    </div>
{% comment %}
{% regroup object_list|dictsort:"accuracy_set.accuracyitem_set.all" by accuracy_set as gender_list %}
{% regroup object_list|dictsort:"object_list.accuracy_set" by object_list.accuracy_set.all as type_list %}

    {% accuracy_list_for_forecaster item 'all' as chartitem %}
{% chart  LineXY  chartitem %}
{%  scale 0 15 %}
{% color 3072F3 ff0000 00aaaa  %}
{% marker s FF0000 0 -1 5  %}
{% marker s 0000ff 1 -1 5  %}
{% marker s 00aa00 2 -1 5  %}
{% line 2 4 1  %}
{% endchart %} 


{% chart  GChart   %}
{% type pie  %}
{% dataset item.diffs  %}
{% size 250 100  %}
{% endchart %} 
{% endcomment %}
    
{% endblock main %}
