<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>{% block title %}{% endblock %} Weather-O-Meter: The Denver Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="description" content="{% block description %}{% endblock %}... from the Weather-O-Meter, by The Denver Post.">
    <meta name="ROBOTS" content="ALL">
    <meta name="Copyright" content="Copyright The Denver Post">
    <meta name="y_key" content="ee37d95655c49c30" >
    {% if not request.mobile %}
    <link type="text/css" rel="stylesheet" href="http://extras.mnginteractive.com/live/css/site36/redesign_default.css">
    <link type="text/css" rel="stylesheet" href="http://extras.mnginteractive.com/live/css/site36/redesign_topNav.css">
    {% endif %}
    <link type="text/css" href="/media/css/weather.css" rel="stylesheet">
    {% if request.mobile %}<link type="text/css" href="/media/css/mobile.css" rel="stylesheet">{% endif %}
    <link rel="icon" type="image/png" href="http://extras.mnginteractive.com/live/media/favIcon/dpo/favicon.ico">
    <link rel="shortcut icon" href="http://extras.mnginteractive.com/live/media/favIcon/dpo/favicon.ico" type="image/x-icon">

	{% if not request.mobile %}
    {% block head %}{% endblock %}

    <script type="text/javascript">
    {% block js %}{% endblock %}
    </script>
    {% endif %}
    <style type="text/css">
    {% block style %}{% endblock %}
    </style>  
</head>
<body {% if not request.mobile %}{% block bodytag %}{% endblock %}{% endif %}>
<div id="wrap">
{% if not request.mobile and not debug %}
<script language="JavaScript" type="text/javascript" src="http://an.tacoda.net/an/12503/slf.js"></script>
<script language="JavaScript" type="text/javascript" src="http://extras.mnginteractive.com/live/js/tacoda/DartInclude.js"></script>
<script language="JavaScript" type="text/javascript" src="http://extras.mnginteractive.com/live/js/tacoda/AccipiterInclude.js"></script>
<script language="JavaScript" type="text/javascript" src="http://extras.mnginteractive.com/live/js/otherinc/otherinc.js"></script>
{% endif %}
      <div id="wait" style=
      "position: absolute; top: 200; left: 200; visibility:hidden; font-size: 1pt; color: white;">

         <!-- SiteCatalyst code version: G.7.Copyright 1997-2004 Omniture, Inc. More info available at http://www.omniture.com -->
<script language="JavaScript" type="text/javascript">
            <!--
            var s_pageName="Weather-O-Meter / {% if request.mobile %}Mobile / {% endif %}{% block error %}{% endblock %}" + document.location.pathname;
            var s_server="MEDIATEMPLE"
            var s_channel=""
            var s_pageType="WebApp"
            var s_prop1="Weather-O-Meter"
            var s_prop2=""
            var s_prop3=""
            var s_prop4=""
            var s_prop5=""
            var s_prop6=""
            var s_prop7=""
            var s_prop8=""
            var s_prop9=""
            var s_prop10=""
            var s_campaign=""
          var s_state=""
          var s_zip=""
          var s_events=""
          var s_products=""
          var s_purchaseID=""
          var s_eVar1=""
          var s_eVar2=""
          var s_eVar3=""
            /********* INSERT THE DOMAIN AND PATH TO YOUR CODE BELOW ************/
            /********** DO NOT ALTER ANYTHING ELSE BELOW THIS LINE! *************/
            var s_code=" "//-->
</script>
<script type="text/javascript" language="JavaScript" src="http://extras.mnginteractive.com/live/js/omniture/StatsFunctionInclude_v2.js"></script>
<script type="text/javascript" language="JavaScript">
<!--
            var s_wd=window,s_tm=new Date;if(s_code!=" "){s_code=s_dc(
            "denverpost");if(s_code)document.write(s_code)}else
            document.write("<im"+"g src=http://denverpost.112.2O7.net/b/ss/denverpost/1/G.7--FB/s"+s_tm.getTime()+"?[AQB]"+"&j=1.0&[AQE] height=0 width=0 border=0 />")
            if(navigator.appVersion.indexOf("MSIE")>=0)document.write(unescape("%3C")+"\!-"+"-")
            //-->
</script>
          <noscript><img src="http://denverpost.112.2O7.net/b/ss/denverpost/1/G.7--NS/0" height="0" width="0" border="0" alt=""></noscript><!--/DO NOT REMOVE/-->
          <!-- End SiteCatalyst code version: G.7. -->
      </div>

      <div id="page">
         <div id="header" style="width:985px;">
            {% if not request.mobile and not debug %}
            <div align="center" class="adElement" style="margin:0 auto; width:950px;">
                <script type="text/javascript" language="JavaScript1.1">GetAd('tile','0','/weather_section','','www.denverpost.com',';dcopt=ist','728','90');</script></div>
            </div>
            {% endif %}
         </div>
         <div id="masthead_section" class="clearfix" style="width:985px;">
            <div id="masthead_sectionlogo">
               <a href="http://www.denverpost.com/"><img src="http://extras.mnginteractive.com/live/media/site36/2006/0927/20060815_054356_logo_articles.gif" width="351" height="50" border="0" alt=""></a>
            </div>
            <div id="sectionname" style="width:985px;">
               <b><a href="/">Weather-O-Meter</a></b>
            </div>
            <div id="masthead_sectiondate">
<script type="text/javascript">
   var date = new Date();
   document.write(date.toLocaleDateString());
</script>
            </div>
         </div>
         {% if not request.mobile %}
         <table border="0" width="990" cellpadding="0" cellspacing="0" style="width:990px; overflow:hidden;" id="globalnav">
            <tr>
               <td valign="top">
                  <span id="redesign_topNav" style="width:990px; overflow:hidden;">
                  <!-- This is the default template to use for the new horizontal navigation bar -->
                   
                  <!-- Do *NOT* change the following script source, unless the file has moved to a new location. -->
                  </span> 
                  <div id="navcontainer" style="width:990px; overflow:hidden;">
                  </div>
<script language="JavaScript" type="text/javascript" src="http://extras.denverpost.com/vendor_templates/includes/nav.js">
</script>
                   
<script language="JavaScript" type="text/javascript">
write_nav("news");
</script>
                   
               </td>
            </tr>
         </table>
         {% endif %}


    <a id="top" name="top" accesskey="t"></a>
    <a name="start_here"></a>
    <div id="page-body">
    
    <div id="container">
        <div id="dpheader">
        {% block header %}{% endblock header %}
        {% block subnav %}{% endblock subnav %}
        </div><!-- Closes the dpheader div-->
            <div id="subcontainer">
                {% block banner %}<a href="/"><h3 class="img" id="weather-logo">Denver, Colorado's Weather-O-Meter</h3></a>{% endblock banner %}
                <div id="main">
                {% block main %}{% endblock main %}
                </div>
                
                <div id="sidebar">
                {% block sidebar %}
                    <div id="login">
                    {% if user.is_authenticated %}
                    <p>
                    <!--  Welcome, {{ user.username }}. -->
                    (&nbsp;{% if user.is_staff %}<a href="/admin/">Admin</a>&nbsp;|&nbsp;{% endif %}<a href="/accounts/logout/">Log&nbsp;out</a>&nbsp;)
                    </p>
                    {% endif %}
                    </div><!-- Closes the login div-->

                    <div id="sidebarad">
                    	<div align="center" class="adElement"><script type="text/javascript" language="JavaScript1.1">GetAd('tile','6','/weather_section','','www.denverpost.com','','300','250');</script></div>
                    </div><!-- Closes the sidebarad div-->
                    
                    {% block belowsidebar %}
                    {% endblock belowsidebar %}
                {% endblock sidebar %}
                </div><!-- Closes the sidebar div-->
            <div class="clear"></div>
            </div><!-- Closes the subcontainer div-->
    </div><!-- Closes the container div-->
    <div id="footerwrapper" style="height:auto; clear:both;">
    {% block footer %}
        <p class="footertext"><a href="/" title="weather-o-meter home">home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/forecaster/" title="forecasters">forecasters</a><!-- &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/forecast/" title="forecasts">forecasts</a>--></p>

        <p class="footertext"><a href="/about/" title="about the weather-o-meter">about the weather-o-meter</a><!-- &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/contact/" title="contact the weather-o-meter">contact the weather-o-meter</a>--></p>

		{% if not request.mobile and not debug %}
        <div align="center" class="adElement"><script type="text/javascript" language="JavaScript1.1">//GetAd('tile','14','/weather_section','','www.denverpost.com','','728','90');</script></div>
        {% endif %}
        <p>All contents Copyright 2008 <a href="http://www.denverpost.com/">The Denver Post</a> or other copyright holders.
All rights reserved. <br>This material may not be published, broadcast, rewritten or redistributed for any commercial purpose.</p>
    {% endblock footer %}
    </div><!-- Closes the footer div-->

    </div>

</div>


{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}


</body>
</html>
