{% extends "forecast/base.html" %}
{% block title_long %}{% block title %}{{ day|date:"F j, Y" }} forecast and weather information: {% endblock %}{% endblock %}
{% block description %}{% endblock%}
{% block style %}{% endblock style %}

{% block main %}
<p id="breadcrumb"><a href="/">Home</a> &rsaquo; <a href="/forecast/">Forecasts</a> &rsaquo; <a href="">{{ day|date:"Y" }}</a> &rsaquo; <a href="">{{ day|date:"F" }}</a></p>
<h1>{{ day|date:"F j, Y" }}: Forecast and weather information </h1>
<h2>The actual temperatures were {% get_actualtemperature_item %}</h2>
        {% forecast_for_day 1 as item_list %}
        {% regroup item_list|dictsort:"type" by type as type_list %}
        
        <h2>Complete forecaster forecasts</h2>
        {% for type in type_list|dictsortreversed:"grouper" %}
        <div class="subcol">
        {% ifchanged %}<h3>Forecast {% ifequal type.grouper 1 %}Highs{% else %}Lows{% endifequal %}</h3>{% endifchanged %}
            <dl>
            {% for item in type.list|dictsort:"differential_abs" %}
                <dt>{% firstof item.items.forecaster.nickname item.items.forecaster.user.first_name %}:</dt>
                <dd>{{ item.temperature }}&#176;</dd>
                <dd>({{ item.differential }})</dd>
            {% endfor %}
            </dl>
        </div>
        {% endfor %}
<dl>
{% for item in object_list %}
{% endfor %}
</dl>

{% endblock main %}

{% block sidebar %}{% endblock sidebar %}